.wrapper {
    display: grid;
    grid-template:
        'header header' auto
        'main main' 1fr / 1fr;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

.header {
    grid-area: header;
    width: 100%;
    z-index: 10;
}

.main {
    grid-area: main;
    min-height: calc(100vh - 64px);
}
